div.main > div.row > div.col-sm-8{
    display: flex;
    flex-direction: column;
    margin-left: 2%;
}
div.main > div.row{
    display: flex;
    flex-wrap: wrap;
}
div.main{
    width: 70%;
    margin: 0 auto;
}