<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title></title>
	<link rel="stylesheet" th:href="@{/css/bootstrap.css}">
	<script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
</head>
<div th:fragment="left">
<div class=" col-sm-3 well" style="width:max-content;height: 550px;margin-right:5%;">
	<h3>
		<span class="glyphicon glyphicon-home"></span>&nbsp;个人中心
	</h3>
	<ul class="list-group">
		<a th:href="@{/users/orders.html}">
			<li class="list-group-item">订单中心</li>
		</a>
		<h3>
			<span class="glyphicon glyphicon-search" aria-hidden="true"></span>&nbsp;我的资料
		</h3>
		<a th:href="@{/users/detail.html}" >
			<li class="list-group-item">个人资料</li>
		</a>
		<a th:href="@{/users/address.html}" >
			<li class="list-group-item">地址管理</li>
		</a>
	</ul>
</div>
</div>
</body>
</html>